/* colors */
$primary-color: #131821;
$secondary-color: #4066a5;
$neutral-color: white;
$warning: red;
$accept: green;

/* fonts */
$font-family-heading: Georgia;
$font-family-subheading: Arial;
$font-family-paragraph: Arial;

/* font sizes */
$font-size-heading: 32px;
$line-height-heading: 44px;

$font-size-subheading: 16px;
$line-height-subheading: 28px;

$font-size-paragraph: 16px;
$line-height-paragraph: 28px;
