@import "../../style/main.scss";

.cancel-btn {
  @include button;

  &:active {
    background-color: $warning;
    color: $neutral-color;
    transform: translateY(2px);
    transform: translateX(2px);
  }
}
