@import "../../style/main.scss";

.product-item {
  position: relative;
  font-family: $font-family-paragraph;
  font-size: $font-size-paragraph;
  line-height: $line-height-paragraph;
  margin-top: 10px;
  margin-left: 10px;
  border: 2px solid $primary-color;
  background-color: $neutral-color;
  color: $primary-color;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 20px;

  .delete-checkbox {
    position: absolute;
    left: 10px;
    top: 10px;
  }
}
