@import "../../styles/main.scss";

.footer-container {
  width: 100%;

  .line-break-footer {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .footer-text {
    color: $primary-color;
    font-family: $font-family-subheading;
    font-size: $font-size-subheading;
    line-height: $line-height-subheading;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }
}
