@import "../../styles/main.scss";

.add-item-btn {
  @include button;

  &:active {
    background-color: $accept;
    color: $neutral-color;
    transform: translateY(2px);
    transform: translateX(2px);
  }
}
