@use "colors";
@use "text";

.line-break-footer {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-text {
  color: colors.$primary-color;
  font-family: text.$font-family-subheading;
  font-size: text.$font-size-subheading;
  line-height: text.$line-height-subheading;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
