@use "colors";
@use "text";

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.line-break-header {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.product-list-header {
  width: 100%;
  padding-left: 30px;
}

.heading-product-list {
  display: inline-block;
  padding-right: 60%;
  font-family: text.$font-family-heading;
  font-size: text.$font-family-heading;
  line-height: text.$font-family-heading;
  color: colors.$primary-color;
}

.add-item-btn,
.mass-delete-btn {
  display: inline-block;
  padding: 8px 20px;
  margin: 3px;
  background-color: colors.$neutral-color;
  color: colors.$primary-color;
  border: 1px solid;
  box-shadow: 2px 4px;
  font-family: text.$font-family-paragraph;
  font-size: text.$font-size-paragraph;
  line-height: text.$line-height-paragraph;
}

.add-item-btn:active {
  background-color: colors.$accept;
  color: colors.$primary-color;
  transform: translateY(2px);
  transform: translateX(2px);
}

.mass-delete-btn:active {
  background-color: colors.$warning;
  color: colors.$neutral-color;
  transform: translateY(2px);
  transform: translateX(2px);
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }
}
