@import "../../styles/main.scss";

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-self: center;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
  }
}
